*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Outfit", Arial, Helvetica, sans-serif;
}

:root {
  max-width: 150vw;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}